body {
     font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
     word-wrap: break-word;
     background: cornsilk;
 }

.top_row {
    background: #302a6b;
}

.bottom_row {
    margin-bottom: 50px;
    box-shadow: 3px 3px 7px 1px rgba(191, 191, 191, 0.61);
    -webkit-box-shadow: 3px 3px 7px 1px rgba(191, 191, 191, 0.61);
    -moz-box-shadow: 3px 3px 7px 1px rgba(191, 191, 191, 0.61);
    padding: 20px;
    background: #94c3ff;
}

.yellow {
    color: #fabb13;
    font-size: 40px;
}

.white_small {
    color: #fff;
    font-size: 21px;
}

.light_blue {
    font-size: 26px;
    color: cadetblue;
}

.text-shadow {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #fff;
    font-size: 42px;
}
.text-shadow-yellow {
    text-shadow: 0 1px 0 #913131, 0 2px 0 #5b5b5b, 0 3px 0 #6a2d2d, 0 4px 0 #934343, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #e32726;
    font-size: 36px;
    margin: 20px 0;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 2px solid rgb(255, 14, 14);
}

.passport {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    display: grid;
    height: 200px;
    margin-top: 10px;
    border: 1px solid;
}

.btn-primary {
    color: #fff;
    background-color: #2abfd4;
    border-color: #2abfd4;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: .3s;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2ac0d496;
    border-color: #2ac0d496;
}

.small_nmc {
    display: none;
}

.modal-body li {
    padding-bottom: 5px;
}

.btn-close {
    border: none;
    font-size: large;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .large_nmc {
        display: none;
    }
    .small_nmc {
        display: inline;
        float: right;
    }
}

@media only screen and (max-width: 768px) {
    .text-shadow {
        font-size: 30px;
    }
    .white_small {
        font-size: 19px;
    }
    .light_blue {
        font-size: 17px;
    }
    .yellow {
        font-size: 36px;
    }
    .logo {
        max-width: 100px;
    }
}


#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
.bg_white{
    background-color: #fff;
}

.top_row {
    background: #302a6b
}

.yellow {
    color: #fabb13;
    font-size: 40px
}

.white_small {
    color: #fff;
    font-size: 21px
}

.light_blue {
    font-size: 26px;
    color: #5f9ea0
}

.text-shadow {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #fff;
    font-size: 42px
}

.text-shadow-yellow {
    text-shadow: 0 1px 0 #913131, 0 2px 0 #5b5b5b, 0 3px 0 #6a2d2d, 0 4px 0 #934343, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
    color: #e32726;
    font-size: 36px;
    margin: 20px 0
}

hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 0;
    border-top: 2px solid #ff0e0e
}

.passport {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    align-content: center;
    display: grid;
    height: 200px;
    margin-top: 10px;
    border: 1px solid
}

.modal-body li {
    padding-bottom: 5px
}

.bg_blue {
    background-color: #e1f7fe;
    padding: 0 20px
}

.exam-card .red_bg {
    background-color: pink;
    padding: 10px;
    text-transform: uppercase
}

.exam-card .blue_bg {
    background-color: #add8e6;
    padding: 10px;
    text-transform: uppercase
}

.exam-card .green_bg {
    background-color: #90ee90;
    padding: 10px;
    text-transform: uppercase
}

.exam-card .field {
    border: 1px solid #000;
    width: 100%;
    height: 40px;
    background-color: #fff
}

.exam-card .check-field {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    background-color: #fff
}

.exam-card .passport {
    background-color: #fff
}

.exam-card div {
    text-transform: uppercase;
    font-weight: 700
}

.exam-card .sign_field {
    border: 1px solid #000;
    width: 100%;
    height: 100px;
    background-color: #fff
}